.form
{
    
}
.img-holder
{
    text-align: center;
    justify-content: center;
}
.form-Holder
{
    background: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    width:30%;
    margin-left:38%;
    margin-top:10px;
}




.form-Holder li
{
    
    list-style:none;
}
.form-Holder li input
{
    width:80%;
    height:30px;
  
}
.form-Holder p
{
    margin-right:200px;
}

 .form-Holder .left
{
    margin-right:160px;  
}